

/*
 * +-----------------------------------------------------------------+
 * |                       HTML Standart Tags                        |
 * +-----------------------------------------------------------------+
 */

 html, body, th, td, tr, p, li, h1, h2, h3, h4, h5, h6 {
   font-size:                   11pt;
   /* The Open Sans font family is supplied by TexLive. */
   font-family:                 "Open Sans", Verdana, sans-serif;;
 }

 body {
   color:                       black;
   background:                  white;
   background-color:            white;
   background-position:         top left;
   background-attachment:       fixed;
   background-repeat:           no-repeat;
   margin-top:                  2em;
   width:                       550pt;
   margin-right:                auto;
   margin-left:                 auto;
   /*
   margin-right:                12%;
   margin-left:                 12%;
   */
 }

 hr {
   height:                      1px;
   border:                      0;
   color:                       #004400;
   background-color:            #004400;
 }


 h1, h2, h3, h4, h5, h6 {
   /*font-family:                 "Liberation Serif", sans-serif;*/
 }

 h1                 { text-align:  center; }
 h2, h3, h4, h5, h6 { text-align:  left;
                      padding-top: 11pt;
                    }
 h1, h2, h3         { /*font-family: "Liberation Serif", sans-serif; */
                    /*color:       #09550B;*/
                    }
 h1                 { font-weight:normal;       font-size: 170%; letter-spacing:0.2em; word-spacing:0.4em; }
 h2                 { font-weight:normal;       font-size: 140%; letter-spacing:0.2em; word-spacing:0.4em; }
 h3                 { font-weight:  bold;       font-size: 118%; letter-spacing:0.2em; word-spacing:0.4em; }
 h4                 { font-weight:  bold;       font-size: 100%; }
 h5                 { font-style:   italic;     font-size: 100%; }
 h6                 { font-variant: small-caps; font-size: 100%; }

 h2.classHierarchy {
 /*border:                      1px none #008500;*/
   border:                      1px none #000000;
   border-top-width:            1px;
   border-top-style:            dotted;
   padding-top:                 1em;
 }
 

 .hide {
   display:                     none;
   color:                       white;
 }


 p {
   margin-top:                  0.6em;
   margin-bottom:               0.6em;
   margin-left:                 0.0em;
   margin-right:                0.0em;
 }


 address {
   text-align:                  right;
   font-weight:                 bold;
   font-style:                  italic;
   font-size:                   80%;
 }


 caption { font-weight: bold }


 blockquote {
   margin-left:                 4em;
   margin-right:                4em;
   margin-top:                  0.8em;
   margin-bottom:               0.8em;
   font-style:                  italic;
   color:                       #003300;
 }

 blockquote p {
   margin-bottom:               0;
 }

 blockquote address {
   margin:                      0;
 }


 table {
   border-collapse:             collapse;
 }

 dt, dd { margin-top: 0; margin-bottom: 0; }
 dt     { font-weight: bold; }


 pre, tt, code {
   /*font-family:                 "andale mono", monospace;*/
   font-size:                   100%;
   white-space:                 pre;
 }

 pre {
   font-size:                   80%;
   border:                      dashed;
   border-width:                thin;
   border-color:                #003300;
   /*
   background-color:            #EEEEEE;
   */
   background-color:            #FCFCE1;
   padding:                     0.5em;
   margin-left:                 2em;
   margin-right:                2em
 }

 tt          { color:           green;   }
 em          { font-style:      italic;
               font-weight:     normal;  }
 strong      { font-weight:     bold;    }

 span.textit { font-style:      italic;  }
 span.textbf { font-weight:     bold;    }

 .small      { font-size:       90%;     }
 .white      { color:           #FFFFFF; }


 ul.toc {
   list-style:                  disc;
   list-style:                  none;
 }


 a:link img, a:visited img { border-style: none; }
 a img                     { color: white; }

 a:link, a:active, a:visited {
   color:                       #09550B;
   text-decoration:             none;
 }

 a:hover, a:focus {
   color:                       #FF9900;
   text-decoration:             underline;
 }


/*
 * +-----------------------------------------------------------------+
 * |                    Doxygen Specific Classes                     |
 * +-----------------------------------------------------------------+
 */


/* -------------------------------------------------------------------
 * Header & Footer Classes (customized top page navigation bar).
 */

 h1.header {
   font-size:                   200%;
 /*font-family:                 times, verdana, sans-serif;*/
 }

 center.header {
   background-color:            #CCE6CA;
 }

 table.header {
 /*width:                       100%;*/
 /*background-color:            #EEEEEE;*/
   background-color:            #CCE6CA;
 }

 div.header {
   text-align:                  center;
   margin:                      14pt 0pt 0pt 0pt;
 }

 div.summary {
   color:                       white;
   background-color:            black;
   border:                      4px solid black;
 }

 div.summary a {
   font-size:                   90%;
   color:                       white;
   padding:                     2px 0px;
   text-align:                  center;
   background-color:            black;
 }

 table.header td {
   padding:                     2px 14px;
   text-align:                  center;
   font-weight:                 bold;
 /*font-family:                 verdana, sans-serif;*/
   font-size:                   110%;
 }

 table.DoxUser td, table.DoxUser th {
   padding:                    0px 5px;
   border:                     0px;
 }

 table.DoxUser th {
   background-color:            #CCE6CA;
 }

 table.footer1, table.footer2 { width:       100%;  }
 td.LFooter                   { text-align:  left;  }
 td.RFooter                   { text-align:  right; }
 td.CFooter                   { text-align:  center;}
 table.footer2 td.RFooter     { font-weight: bold; width: 35%  }
 table.footer2 td.CFooter     { width: 30%  }
 table.footer2 td.LFooter     { font-weight: bold; width: 35%; /*font-family: time;*/ }

 table.classHierarchy {
   border-collapse:             separate;
   border-spacing:              5px;
   font-size:                   110%;
 }

 table.classHierarchy tr {
   border:                      1px solid blue;
 }

 table.classHierarchy td.normal {
   border:                      1px solid #CCE6CA;
   width:                       140pt;
   text-align:                  center;
   font-weight:                 bold;
   background-color:            #CCE6CA;
 }

 table.classHierarchy td.virtual {
   border:                      1px solid black;
   width:                       140pt;
   text-align:                  center;
   font-weight:                 bold;
 }

 table.classHierarchy td.wnormal {
   border:                      1px solid #CCE6CA;
   width:                       240pt;
   text-align:                  center;
   font-weight:                 bold;
   background-color:            #CCE6CA;
 }

 table.classHierarchy td.wvirtual {
   border:                      1px solid black;
   width:                       240pt;
   text-align:                  center;
   font-weight:                 bold;
 }

 div.ah {
   font-family:                 Times;
   font-size:                   300%;
   font-weight:                 bold;
   padding:                     20px;
 }
 div.title {
   text-align:                  center;
   font-size:                   200%;
   font-weight:                 bold;
   padding:                     20px;
   border:                      2px solid black;
 }

 div.center {
   text-align:                  center;
 }


/* -------------------------------------------------------------------
 * Top navigation lists.
 */

 span.mlabels {
   font-size:     90%;
   font-style:    italic;
   padding-left:  10pt;
   margin:        10pt;
   border-left:   1px solid black
 }

 div.contents {
   padding-top:    20pt;
 }

 div.tabs {
   border-top:     1px solid black;
 }

 div.tabs, div.tabs1, div.tabs2, div.tabs3, div.tabs4 {
   border-left:    1px solid black;
 }

 ul.tablist {
 /*
   padding:      5pt;
   background-color: red;
  */
   margin:           0pt;
   padding:          0pt;
   border-top:       none;
   border-bottom:    none;
   border-left:      none;
   border-right:     none;
 }

 ul.tablist li {
 /*
   margin-left:      auto;
   margin-right:     auto;
   overflow:         auto;
   display:          inline;
   background-color: yellow;
  */
   font-size:        90%;
   border-top:       none;
   border-bottom:    1px solid black;
   border-left:      none;
   border-right:     1px solid black;
   display:          table-cell;
   text-align:       center;
   padding:          2pt;
   width:            10%;
 }

 ul.tablist li:hover {
   background-color: black;
   color:            white;
 }

 ul.tablist li:hover a {
   background-color: black;
   color:            white;
 }

 ul.tablist * a:link img, ul.tablist * a:visited img { border-style: none; }

 ul.tablist * a:link, ul.tablist * a:visited {
   color:               black;
   text-decoration:     none;
 }

 ul.tablist * a:hover, ul.tablist * a:focus, ul.tablist * a:active {
   color:               white;
   text-decoration:     underline;
 }

 div.navpath {
   padding:             5pt 0pt 0pt 0pt;
 }

 .navpath ul {
   text-align:          center;
 }

 .navpath ul li {
   display:             inline;
   list-style-type:     none;
   padding-left:        20px;
   padding-right:       10px;
   background-image:    url('closed.png');
   background-repeat:   no-repeat;
   background-position: left;
   color:               #364D7C;
 }

 .navpath ul li a {
   border:              2px solid black;
   padding-left:        10px;
   padding-right:       10px;
   font-weight:         bold;
   color:               black;
 }


/* -------------------------------------------------------------------
 * Quick Index Class (top page navigation bar).
 */

 div.qindex, div.nav {
   width:                       100%-4px;
 /*background-color:            #DADAEF;*/
 /*background-color:            #eeeeff;*/
 /*background-color:            #EEEEEE;*/
   background-color:            #CCE6CA;
   border:                      0px solid #003300;
   text-align:                  center;
   margin:                      0px;
   padding:                     2px;
   line-height:                 140%;
 }

 a.qindex, a.qindex:visited, a.qindex:hover, a.qindexHL, a.el, a.elRef {
   text-decoration:             none;
 /*font-family:                 Courier;*/
   font-weight:                 normal;
 /*font-size:                   110%;*/
 }

 a.qindex, a.qindex:visited {
   color:                       #09550B;
 }

 a.qindex:hover {
   background-color:            #ddddff;
 }

 a.qindexHL, a.qindexHL:hover, a.qindexHL:visited {
   background-color:            #0c780c;
   color:                       #ffffff;
   border:                      1px double #9295C2;
 }

 a.code:link, a.code:visited, a.codeRef:link, a.codeRef:visited {
   text-decoration:             none;
   font-weight:                 normal;
   color:                       #0000ff;
 }

 .indexkey {
   background-color:            #eeeeff;
   border:                      1px solid #b0b0b0;
   padding:                     2px 15px;
 }

 .indexkey, .indexvalue {
   background-color:            #eeeeff;
   border:                      1px solid #b0b0b0;
   padding:                     2px 15px;
 }

 .indexkey {
   width:                       40%;
 }

 .indexvalue {
   width:                       80%;
 }

 h3 a[name="index__"],
 h3 a[name="index_a"],
 h3 a[name="index_b"],
 h3 a[name="index_c"],
 h3 a[name="index_d"],
 h3 a[name="index_e"],
 h3 a[name="index_f"],
 h3 a[name="index_g"],
 h3 a[name="index_h"],
 h3 a[name="index_i"],
 h3 a[name="index_j"],
 h3 a[name="index_k"],
 h3 a[name="index_l"],
 h3 a[name="index_m"],
 h3 a[name="index_n"],
 h3 a[name="index_o"],
 h3 a[name="index_p"],
 h3 a[name="index_q"],
 h3 a[name="index_r"],
 h3 a[name="index_s"],
 h3 a[name="index_t"],
 h3 a[name="index_u"],
 h3 a[name="index_v"],
 h3 a[name="index_w"],
 h3 a[name="index_x"],
 h3 a[name="index_y"],
 h3 a[name="index_z"],
 h3 a[name="index_0"],
 h3 a[name="index_1"],
 h3 a[name="index_2"],
 h3 a[name="index_3"],
 h3 a[name="index_4"],
 h3 a[name="index_5"],
 h3 a[name="index_6"],
 h3 a[name="index_7"],
 h3 a[name="index_8"],
 h3 a[name="index_9"]
 h3 a[id="index__"],
 h3 a#index_a,
 h3 a#index_b,
 h3 a#index_c,
 h3 a#index_d,
 h3 a#index_e,
 h3 a#index_f,
 h3 a#index_g,
 h3 a#index_h,
 h3 a#index_i,
 h3 a#index_j,
 h3 a#index_k,
 h3 a#index_l,
 h3 a#index_m,
 h3 a#index_n,
 h3 a#index_o,
 h3 a#index_p,
 h3 a#index_q,
 h3 a#index_r,
 h3 a#index_s,
 h3 a#index_t,
 h3 a#index_u,
 h3 a#index_v,
 h3 a#index_w,
 h3 a#index_x,
 h3 a#index_y,
 h3 a#index_z,
 h3 a#index_0,
 h3 a#index_1,
 h3 a#index_2,
 h3 a#index_3,
 h3 a#index_4,
 h3 a#index_5,
 h3 a#index_6,
 h3 a#index_7,
 h3 a#index_8,
 h3 a#index_9,
 h3 a#index_0x7e
 {
   font-family:                 time;
   font-size:                   250%;
 }


/* -------------------------------------------------------------------
 * Verbatim Source Code / Examples.
 */

 div.fragment {
   font-family:      "Monospace";
   font-size:        80%;
   border:           dashed;
   border-width:     thin;
   border-color:     #003300;
   background-color: #FCFCE1;
   padding:          0.5em;
   margin-left:      5%;
   margin-right:     5%
 }

 div.line {
   white-space:      pre;
   padding:          0pt;
   margin:           0pt;
 }

 span.keyword       { color: #008000 }
 span.keywordtype   { color: #604020 }
 span.keywordflow   { color: #e08000 }
 span.comment       { color: #800000 }
 span.preprocessor  { color: #806020 }
 span.stringliteral { color: #002080 }
 span.charliteral   { color: #008080 }
 span.red           { color: red }


/* -------------------------------------------------------------------
 * Attributes Listing.
 */

p.formulaDsp {
  text-align: center;
}

 .mdTable {
 /*border:                      1px solid #868686;*/
 /*background-color:            #DADAEF;*/
 /*background-color:            #F4F4FB;*/
   border:                      1px none #008500;
   border-left-width:           1px;
   border-left-style:           solid;
 /*background-color:            #B8E6B8;*/
 /*background-color:            #CCE6CA;*/
   margin-top:                  25px;
   font-size:                   105%;
 }

 .mdRow {
   padding:                     5px 10px;
 }

 /* This Mozilla/Firefox bug has been corrected from v1.5.
  * .mdname1 {
  *   padding:                     3px 0px 0px 0px;
  * }
 */

 .mdescLeft, .mdescRight {
   padding:                     0px 8px 4px 8px;
   font-size:                   11px;
   font-style:                  italic;
 /*background-color:            #FAFAFA;*/
   border-top:                  1px none #E0E0E0;
   border-right:                1px none #E0E0E0;
   border-bottom:               1px none #E0E0E0;
   border-left:                 1px none #E0E0E0;
   margin:                      0px;
 }

 .memitem {
   margin-bottom:               30px;
   border:                      1px none #008500;
 }

 .memproto {
   background-color:            #CCE6CA;
   border-left-width:           4px;
   border-left-style:           solid;
   border-color:                #008500;
 }

 .memname {
   white-space:                 nowrap;
   padding-left:                5px;
   font-size:                   105%;
 }

 table.memname * {
   font-family:                 "Monospace";
 }


 .memdoc{
   padding-left:                5px;
 /*margin-top:                  -8px;*/
   border-left-width:           1px;
   border-left-style:           solid;
   border-color:                #008500;
 }

 div.contents * table tr {
   padding:                     3px 3px 3px 8px;
 }

 .memSeparator {
   font-size:                   1pt;
 }

 .memItemLeft, .memItemRight, .memTemplItemLeft, .memTemplItemRight {
   vertical-align:              top;
 /*padding:                     1px 0px 0px 8px;*/
   padding:                     3px 3px 3px 8px;
   margin:                      4px;
   border-top-width:            1px;
   border-right-width:          1px;
   border-bottom-width:         1px;
   border-left-width:           1px;
 /*
   border-top-color:            #0c0c0c;
   border-right-color:          #0c0c0c;
   border-bottom-color:         #0c0c0c;
   border-left-color:           #0c0c0c;
  */
   border-top-style:            none;
   border-right-style:          none;
/*
   border-bottom-style:         dotted;
*/
   border-left-style:           none;
 /*background-color:            #DADAEF;*/
 /*background-color:            #eeeeff;*/
 /*background-color:            #EEEEEE;*/
 /*background-color:            #CCE6CA;*/
   font-family:                 "Monospace";
 }

 .memTemplItemLeft, .memTemplItemRight {
   border-bottom-width:         2px;
   border-bottom-style:         solid;
   font-weight:                 bold;
 }

 .memItemLeft       { font-size: 11px; width: 35%; }
 .memItemRight      { font-size: 12px; }
 .memTemplItemLeft  { font-size: 11px; }
 .memTemplItemRight { font-size: 12px; }

 .memTemplParams {
   color:                       #FFFFFF;
   background-color:            #000000;
   font-size:                   11px;
   font-weight:                 bold;
 }

 .groupText, .groupHeader       {
   color:                       #09550B;
   font-size:                   130%;
   font-weight:                 bold;
   margin-top:                  15px;
 }

 .groupHeader       {
   margin-bottom:               -30pt;
 }

 .inherit {
   display:                     none;
 }


/* -------------------------------------------------------------------
 * General Classes Index.
 */

 div.toc li.level1 {
   margin-left:      0px;
 }
 
 div.toc li.level2 {
   margin-left:      15px;
   display:          none;
 }
 
 div.toc li.level3 {
   margin-left:      30px;
   display:          none;
 }
 
 div.toc li.level4 {
   margin-left:      45px;
   display:          none;
 }

 .directory .levels {
   white-space:      nowrap;
   width:            100%;
   text-align:       right;
   font-size:        9pt;
 }

 .directory .levels span {
   cursor:           pointer;
   padding-left:     2px;
   padding-right:    2px;
   color:            #3D578C;
 }


 div.directory {
   margin:           10px 0px;
   border-top:       2px solid black;
   border-bottom:    2px solid black;
   width:            100%;
 }

 .directory table {
   border-collapse:  collapse;
 }

 .directory td {
   margin:           0px;
   padding:          0px;
   vertical-align:   top;
 }

 .directory td.entry {
   white-space:      nowrap;
   padding-right:    6px;
   padding-top:      3px;
 }

 .directory td.entry a {
   outline:          none;
 }

 .directory td.entry a img {
   border:           none;
 }

 .directory td.desc {
   width:            100%;
   padding-left:     6px;
   padding-right:    6px;
   padding-top:      3px;
   border-left:      1px solid rgba(0,0,0,0.05);
 }

 .directory tr.even {
   padding-left:     6px;
   background-color: #F7F8FB;
 }

 .directory img {
   vertical-align:  -30%;
 }
