[submodule "coloquinte"]
	path = subprojects/coloquinte
#	url = git@github.com:Coloquinte/PlaceRoute.git
	url = https://github.com/Coloquinte/PlaceRoute.git
	branch = main
	update = merge
[submodule "documentation/pelican-plugins"]
	path = documentation/pelican-plugins
	url = https://github.com/getpelican/pelican-plugins
[submodule "pdks/common/libs.tech/skywater-pdk-libs-sky130_fd_pr"]
	path = pdks/common/libs.tech/skywater-pdk-libs-sky130_fd_pr
	url = https://github.com/google/skywater-pdk-libs-sky130_fd_pr.git
[submodule "pdks/common/libs.tech/globalfoundries-pdk-libs-gf180mcu_fd_pr"]
	path = pdks/common/libs.tech/globalfoundries-pdk-libs-gf180mcu_fd_pr
	url = https://github.com/google/globalfoundries-pdk-libs-gf180mcu_fd_pr.git
[submodule "pdks/common/libs.tech/IHP-Open-PDK"]
	path = pdks/common/libs.tech/IHP-Open-PDK
	url = https://github.com/IHP-GmbH/IHP-Open-PDK.git
