*~
*.swp
*.pyc
*.log
*.bak

TAGS

man/
rtf/
html/
latex/

bootstrap/coriolis2.spec

documentation/UsersGuide/UsersGuide-raw.tex
documentation/UsersGuide/UsersGuide.tex
documentation/UsersGuide/UsersGuide.aux
documentation/UsersGuide/UsersGuide.log
documentation/UsersGuide/UsersGuide.dvi
documentation/UsersGuide/UsersGuide.pdf
documentation/UsersGuide/UsersGuide.out
documentation/UsersGuide/UsersGuide.toc
documentation/UsersGuide/UsersGuide.html

documentation/RDS/RDS.aux
documentation/RDS/RDS.dvi
documentation/RDS/RDS.out
documentation/RDS/RDS.pdf
documentation/RDS/RDS.tex
documentation/RDS/RDS.toc

