*~
*.swp
*.pyc
*.log
*.bak
*.log

TAGS
GTAGS
GPATH
GRTAGS
.dir-locals.el
.projectile
.vscode
.venv

lefdef/src/lef/lef/lef.tab.h
lefdef/src/def/def/def.tab.h

man/
rtf/
html/
latex/

build/
install/
debug/
pkgs/
release/
dist/
venv/
.venv/
.env
*.egg-info/
.pdm-python
.doit.db
.DS_Store
wheelhouse/

bootstrap/coriolis2.spec

documentation/output
documentation/content/pdfs/*.pdf
documentation/UsersGuide/UsersGuide-raw.tex
documentation/UsersGuide/UsersGuide.tex
documentation/UsersGuide/UsersGuide.aux
documentation/UsersGuide/UsersGuide.log
documentation/UsersGuide/UsersGuide.dvi
documentation/UsersGuide/UsersGuide.pdf
documentation/UsersGuide/UsersGuide.out
documentation/UsersGuide/UsersGuide.toc
documentation/UsersGuide/UsersGuide.html

documentation/RDS/RDS.aux
documentation/RDS/RDS.dvi
documentation/RDS/RDS.out
documentation/RDS/RDS.pdf
documentation/RDS/RDS.tex
documentation/RDS/RDS.toc

cumulus/src/plugins/CoreToChip_c35b4.py
cumulus/src/plugins/core2chip/c35b4.py

/result*
