div.codeblock { font-size: 90%;
                margin: 10pt;
                padding: 5pt;
                border: dashed;
                border-width: thin;
                background-color: #ffffcc;
                border-color: #fc8676;
              }
.codeblock * .hll { background-color: #ffffcc }
.codeblock * .c { color: #008000 } /* Comment */
.codeblock * .err { border: 1px solid #FF0000 } /* Error */
.codeblock * .k { color: #0000ff } /* Keyword */
.codeblock * .cm { color: #008000 } /* Comment.Multiline */
.codeblock * .cp { color: #0000ff } /* Comment.Preproc */
.codeblock * .c1 { color: #008000 } /* Comment.Single */
.codeblock * .cs { color: #008000 } /* Comment.Special */
.codeblock * .ge { font-style: italic } /* Generic.Emph */
.codeblock * .gh { font-weight: bold } /* Generic.Heading */
.codeblock * .gp { font-weight: bold } /* Generic.Prompt */
.codeblock * .gs { font-weight: bold } /* Generic.Strong */
.codeblock * .gu { font-weight: bold } /* Generic.Subheading */
.codeblock * .kc { color: #0000ff } /* Keyword.Constant */
.codeblock * .kd { color: #0000ff } /* Keyword.Declaration */
.codeblock * .kn { color: #0000ff } /* Keyword.Namespace */
.codeblock * .kp { color: #0000ff } /* Keyword.Pseudo */
.codeblock * .kr { color: #0000ff } /* Keyword.Reserved */
.codeblock * .kt { color: #2b91af } /* Keyword.Type */
.codeblock * .s { color: #a31515 } /* Literal.String */
.codeblock * .nc { color: #2b91af } /* Name.Class */
.codeblock * .ow { color: #0000ff } /* Operator.Word */
.codeblock * .sb { color: #a31515 } /* Literal.String.Backtick */
.codeblock * .sc { color: #a31515 } /* Literal.String.Char */
.codeblock * .sd { color: #a31515 } /* Literal.String.Doc */
.codeblock * .s2 { color: #a31515 } /* Literal.String.Double */
.codeblock * .se { color: #a31515 } /* Literal.String.Escape */
.codeblock * .sh { color: #a31515 } /* Literal.String.Heredoc */
.codeblock * .si { color: #a31515 } /* Literal.String.Interpol */
.codeblock * .sx { color: #a31515 } /* Literal.String.Other */
.codeblock * .sr { color: #a31515 } /* Literal.String.Regex */
.codeblock * .s1 { color: #a31515 } /* Literal.String.Single */
.codeblock * .ss { color: #a31515 } /* Literal.String.Symbol */
