Source:        coriolis2
Section:       Science/Electronics
Priority:      optional
Maintainer:    Jean-Paul Chaput <Jean-Paul.Chaput@lip6.fr>
Build-Depends: debhelper (>= 7),
               quilt,
               cmake,
               bison,
               flex,
               libboost-all-dev,
               libxml2-dev,
               qt4-dev-tools,
               texlive-full,
               doxygen,
               imagemagick,
               latex2html,
               python-all-dev (>= 2.4),
               python-central (>= 0.5.6)
XS-Python-Version: >= 2.4
Standards-Version: 3.8.4
Homepage: http://www-soc.lip6.fr/recherche/cian/coriolis-2/

Package:      coriolis2
Architecture: any
Depends:      ${shlibs:Depends},
              ${misc:Depends},
              ${python:Depends}
XB-Python-Version: ${python:Versions}
Description: VLSI Place & Route CAD Tools
 Coriolis is the new CAD tool suite intended to replace the
 physical backend (P&R) flow of Alliance.
 .
 The Knik global router makes use of FLUTE, which is redistributed
 under is own license. FLUTE is copyrighted by Dr. Chris C. N. Chu
 from the Iowa State University <http://home.eng.iastate.edu/~cnchu>.

Package:      coriolis2-dev
Architecture: any
Depends:      ${shlibs:Depends},
              ${misc:Depends},
              ${python:Depends},
              coriolis2 (= ${binary:Version})
XB-Python-Version: ${python:Versions}
Description: VLSI Place & Route CAD Tools - Development
 Coriolis is the new CAD tool suite intended to replace the
 physical backend (P&R) flow of Alliance.
 .
 Contains libraries & header files neededs to develop applications
 with Coriolis2.
