

/*
 * x-----------------------------------------------------------------x
 * |                       HTML Standart Tags                        |
 * x-----------------------------------------------------------------x
 */

 html, body, th, td, tr, p, li, h1, h2, h3, h4, h5, h6 {
   font-size:                   96%;
   font-family:                 verdana, sans-serif;
 }

 body {
   color:                       black;
   background:                  white;
   background-color:            white;
   background-position:         top left;
   background-attachment:       fixed;
   background-repeat:           no-repeat;
   margin-top:                  2em;
   margin-right:                8%;
   margin-left:                 8%;
 }

 hr {
   height:                      1px;
   border:                      0;
   color:                       #304A67;
   background-color:            #304A67;
 }


 h1, h2, h3, h4, h5, h6 {
   font-family:                 verdana, sans-serif;
 }

 h1                 { text-align:  center; }
 h2, h3, h4, h5, h6 { text-align:  left;
                      padding-top: 2em;
                    }
 h1, h2, h3         { font-family: "Trebuchet MS", sans-serif;
                      color:       #375275;
                    }
 h1                 { font-weight:  bold;       font-size: 170%; }
 h2                 { font-weight:  bold;       font-size: 140%; }
 h3                 { font-weight:  bold;       font-size: 118%; }
 h4                 { font-weight:  bold;       font-size: 100%; }
 h5                 { font-style:   italic;     font-size: 100%; }
 h6                 { font-variant: small-caps; font-size: 100%; }

 h2.classHierarchy {
   /*border:                      1px none #30629C;*/
   border:                      1px none #000000;
   border-top-width:            2px;
   border-top-style:            solid;
   padding-top:                 1em;
 }
 

 .hide {
   display:                     none;
   color:                       white;
 }


 p {
   margin-top:                  0.6em;
   margin-bottom:               0.6em;
   margin-left:                 0.0em;
   margin-right:                0.0em;
 }


 address {
   text-align:                  right;
   font-weight:                 bold;
   font-style:                  italic;
   font-size:                   80%;
 }


 caption { font-weight: bold }


 blockquote {
   margin-left:                 4em;
   margin-right:                4em;
   margin-top:                  0.8em;
   margin-bottom:               0.8em;
   font-style:                  italic;
   color:                       #304359;
 }

 blockquote p {
   margin-bottom:               0;
 }

 blockquote address {
   margin:                      0;
 }


 table {
   border-collapse:             collapse;
 }

 dt, dd { margin-top: 0; margin-bottom: 0; }
 dt     { font-weight: bold; }


 pre, tt, code {
   font-family:                 "andale mono", monospace;
   font-size:                   100%;
   white-space:                 pre;
 }

 pre {
   font-size:                   80%;
   border:                      dashed;
   border-width:                thin;
   border-color:                #304359;
   /*
   background-color:            #EEEEEE;
   */
   background-color:            #FCFCE1;
   padding:                     0.5em;
   margin-left:                 2em;
   margin-right:                2em
 }

 tt          { color:           #3090FF; }
 em          { font-style:      italic;
               font-weight:     bold;    }
 strong      { font-weight:     bold;    }

 span.textit { font-style:      italic;  }
 span.textbf { font-weight:     bold;    }

 .small      { font-size:       90%;     }
 .white      { color:           #FFFFFF; }


 ul.toc {
   list-style:                  disc;
   list-style:                  none;
 }


 a:link img, a:visited img { border-style: none; }
 a img                     { color: white; }

 a:link, a:active, a:visited {
   color:                       #375275;
   text-decoration:             none;
 }

 a:hover, a:focus {
   color:                       #FF9900;
   text-decoration:             underline;
 }




/*
 * x-----------------------------------------------------------------x
 * |                    Doxygen Specific Classes                     |
 * x-----------------------------------------------------------------x
 */


/* -------------------------------------------------------------------
 * Header & Footer Classes (customized top page navigation bar).
 */

 h1.header {
   font-size:                   200%;
   font-family:                 times, verdana, sans-serif;
 }

 center.header {
   background-color:            #D4E1EB;
 }

 table.header {
   /*width:                       100%;*/
   /*background-color:            #EEEEEE;*/
   background-color:            #D4E1EB;
 }

 table.header td {
   padding:                     2px 14px;
   text-align:                  center;
   font-weight:                 bold;
   font-family:                 verdana, sans-serif;
   font-size:                   110%;
 }

 table.footer1, table.footer2 { width:       100%;  }
 td.LFooter                   { text-align:  left;  }
 td.RFooter                   { text-align:  right; }
 td.CFooter                   { text-align:  center;}
 table.footer2 td.RFooter     { font-weight: bold; width: 35%  }
 table.footer2 td.CFooter     { width: 30%  }
 table.footer2 td.LFooter     { font-weight: bold; width: 35%; font-family: time; }

 table.classHierarchy {
   border-collapse:             separate;
   border-spacing:              5px;
   font-size:                   110%;
 }

 table.classHierarchy tr {
   border:                      1px solid blue;
 }

 table.classHierarchy td.normal {
   border:                      1px solid #D4E1EB;
   width:                       140pt;
   text-align:                  center;
   font-weight:                 bold;
   background-color:            #D4E1EB;
 }

 table.classHierarchy td.virtual {
   border:                      1px solid black;
   width:                       140pt;
   text-align:                  center;
   font-weight:                 bold;
 }

 table.classHierarchy td.wnormal {
   border:                      1px solid #D4E1EB;
   width:                       240pt;
   text-align:                  center;
   font-weight:                 bold;
   background-color:            #D4E1EB;
 }

 table.classHierarchy td.wvirtual {
   border:                      1px solid black;
   width:                       240pt;
   text-align:                  center;
   font-weight:                 bold;
 }

 div.ah {
   font-family:                 time;
   font-size:                   250%;
 }


/* -------------------------------------------------------------------
 * Quick Index Class (top page navigation bar).
 */

 div.qindex, div.nav {
   width:                       100%-4px;
   /*background-color:            #DADAEF;*/
   /*background-color:            #eeeeff;*/
   /*background-color:            #EEEEEE;*/
   background-color:            #D4E1EB;
   border:                      0px solid #304359;
   text-align:                  center;
   margin:                      0px;
   padding:                     2px;
   line-height:                 140%;
 }

 a.qindex, a.qindex:visited, a.qindex:hover, a.qindexHL, a.el, a.elRef {
   text-decoration:             none;
   font-weight:                 bold;
 }

 a.qindex, a.qindex:visited {
   color:                       #375275;
 }

 a.qindex:hover {
   background-color:            #ddddff;
 }

 a.qindexHL, a.qindexHL:hover, a.qindexHL:visited {
   background-color:            #3A6291;
   color:                       #ffffff;
   border:                      1px double #9295C2;
 }

 a.code:link, a.code:visited, a.codeRef:link, a.codeRef:visited {
   text-decoration:             none;
   font-weight:                 normal;
   color:                       #0000ff;
 }

 .indexkey {
   background-color:            #eeeeff;
   border:                      1px solid #b0b0b0;
   padding:                     2px 15px;
 }

 .indexkey, .indexvalue {
   background-color:            #eeeeff;
   border:                      1px solid #b0b0b0;
   padding:                     2px 15px;
 }

 .indexkey {
   width:                       40%;
 }

 .indexvalue {
   width:                       80%;
 }

 h3 a[name="index__"],
 h3 a[name="index_a"],
 h3 a[name="index_b"],
 h3 a[name="index_c"],
 h3 a[name="index_d"],
 h3 a[name="index_e"],
 h3 a[name="index_f"],
 h3 a[name="index_g"],
 h3 a[name="index_h"],
 h3 a[name="index_i"],
 h3 a[name="index_j"],
 h3 a[name="index_k"],
 h3 a[name="index_l"],
 h3 a[name="index_m"],
 h3 a[name="index_n"],
 h3 a[name="index_o"],
 h3 a[name="index_p"],
 h3 a[name="index_q"],
 h3 a[name="index_r"],
 h3 a[name="index_s"],
 h3 a[name="index_t"],
 h3 a[name="index_u"],
 h3 a[name="index_v"],
 h3 a[name="index_w"],
 h3 a[name="index_x"],
 h3 a[name="index_y"],
 h3 a[name="index_z"],
 h3 a[name="index_0"],
 h3 a[name="index_1"],
 h3 a[name="index_2"],
 h3 a[name="index_3"],
 h3 a[name="index_4"],
 h3 a[name="index_5"],
 h3 a[name="index_6"],
 h3 a[name="index_7"],
 h3 a[name="index_8"],
 h3 a[name="index_9"]
 {
   font-family:                 time;
   font-size:                   250%;
 }


/* -------------------------------------------------------------------
 * Verbatim Source Code / Examples.
 */

 /* pre.fragment       { background-color: #EEEEEE; } */

 span.keyword       { color: #008000 }
 span.keywordtype   { color: #604020 }
 span.keywordflow   { color: #e08000 }
 span.comment       { color: #800000 }
 span.preprocessor  { color: #806020 }
 span.stringliteral { color: #002080 }
 span.charliteral   { color: #008080 }


/* -------------------------------------------------------------------
 * Attributes Listing.
 */

 .mdTable {
   /*border:                      1px solid #868686;*/
   /*background-color:            #DADAEF;*/
   /*background-color:            #F4F4FB;*/
   border:                      1px none #30629C;
   border-left-width:           1px;
   border-left-style:           solid;
   /*background-color:            #B8E6B8;*/
   /*background-color:            #D4E1EB;*/
   margin-top:                  25px;
   font-size:                   105%;
 }

 .mdRow {
   padding:                     5px 10px;
 }

 /* This Mozilla/Firefox bug has been corrected from v1.5.
  * .mdname1 {
  *   padding:                     3px 0px 0px 0px;
  * }
 */

 .mdescLeft, .mdescRight {
   padding:                     0px 8px 4px 8px;
   font-size:                   11px;
   font-style:                  italic;
   /*background-color:            #FAFAFA;*/
   border-top:                  1px none #E0E0E0;
   border-right:                1px none #E0E0E0;
   border-bottom:               1px none #E0E0E0;
   border-left:                 1px none #E0E0E0;
   margin:                      0px;
 }

 .memitem {
   margin-bottom:               30px;
   border:                      1px none #30629C;
 }

 .memproto {
   background-color:            #D4E1EB;
   border-left-width:           4px;
   border-left-style:           solid;
   border-color:                #30629C;
 }

 .memname {
   white-space:                 nowrap;
   padding-left:                5px;
   font-size:                   105%;
 }


 .memdoc{
   padding-left:                5px;
   /*margin-top:                  -8px;*/
   border-left-width:           1px;
   border-left-style:           solid;
   border-color:                #30629C;
 }

 .memItemLeft, .memItemRight, .memTemplItemLeft, .memTemplItemRight {
   padding:                     1px 0px 0px 8px;
   margin:                      4px;
   border-top-width:            1px;
   border-right-width:          1px;
   border-bottom-width:         1px;
   border-left-width:           1px;
   border-top-color:            #0c0c0c;
   border-right-color:          #0c0c0c;
   border-bottom-color:         #0c0c0c;
   border-left-color:           #0c0c0c;
   border-top-style:            solid;
   border-right-style:          none;
   border-bottom-style:         none;
   border-left-style:           none;
   /*background-color:            #DADAEF;*/
   /*background-color:            #eeeeff;*/
   /*background-color:            #EEEEEE;*/
   background-color:            #D4E1EB;
 }

 .memTemplItemLeft, .memTemplItemRight {
   border-bottom-width:         2px;
   border-bottom-style:         solid;
   font-weight:                 bold;
 }

 .memItemLeft       { font-size: 11px; }
 .memItemRight      { font-size: 12px; }
 .memTemplItemLeft  { font-size: 11px; }
 .memTemplItemRight { font-size: 12px; }

 .memTemplParams {
   color:                       #FFFFFF;
   background-color:            #000000;
   font-size:                   11px;
   font-weight:                 bold;
 }

 .groupText, .groupHeader       {
   color:                       #375275;
   margin-top:                  15px;
   font-size:                   130%;
   font-weight:                 bold;
 }

