

/*
 * x-----------------------------------------------------------------x
 * |                       HTML Standart Tags                        |
 * x-----------------------------------------------------------------x
 */

 html, body, th, td, tr, p, li, h1, h2, h3, h4, h5, h6 {
   font-size:                   100%;
   font-family:                 verdana, sans-serif;
 }

 body {
   color:                       black;
   background:                  white;
   background-color:            white;
   background-position:         top left;
   background-attachment:       fixed;
   background-repeat:           no-repeat;
   margin-top:                  2em;
   margin-right:                10%;
   margin-left:                 10%;
 }

 hr {
   height:                      1px;
   border:                      0;
   color:                       #004400;
   background-color:            #004400;
 }


 h1, h2, h3, h4, h5, h6 {
   font-family:                 verdana, sans-serif;
 }

 h1                 { text-align:  center; }
 h2, h3, h4, h5, h6 { text-align:  left;
                      padding-top: 2em;
                    }
 h1, h2, h3         { font-family: "Trebuchet MS", sans-serif;
                      color:       #09550B;
                    }
 h1                 { font-weight:  bold;       font-size: 170%; }
 h2                 { font-weight:  bold;       font-size: 140%; }
 h3                 { font-weight:  bold;       font-size: 118%; }
 h4                 { font-weight:  bold;       font-size: 100%; }
 h5                 { font-style:   italic;     font-size: 100%; }
 h6                 { font-variant: small-caps; font-size: 100%; }

 .hide {
   display:                     none;
   color:                       white;
 }


 p {
   margin-top:                  0.6em;
   margin-bottom:               0.6em;
   margin-left:                 0.0em;
   margin-right:                0.0em;
 }


 address {
   text-align:                  right;
   font-weight:                 bold;
   font-style:                  italic;
   font-size:                   80%;
 }


 caption { font-weight: bold }


 blockquote {
   margin-left:                 4em;
   margin-right:                4em;
   margin-top:                  0.8em;
   margin-bottom:               0.8em;
   font-style:                  italic;
   color:                       #003300;
 }

 blockquote p {
   margin-bottom:               0;
 }

 blockquote address {
   margin:                      0;
 }


 table {
   border-collapse:             collapse;
 }

 dt, dd { margin-top: 0; margin-bottom: 0; }
 dt     { font-weight: bold; }


 pre, tt, code {
   font-family:                 "andale mono", monospace;
   font-size:                   100%;
   white-space:                 pre;
 }

 pre {
   font-size:                   80%;
   border:                      solid;
   border-width:                thin;
   border-color:                #003300;
   background-color:            #EEEEEE;
   padding:                     0.5em;
   margin-left:                 2em;
   margin-right:                2em
 }

 tt          { color: green; }
 em          { font-style: italic; font-weight: bold; }
 strong      { font-weight: bold; }

 span.textit { font-style:  italic; }
 span.textbf { font-weight: bold;   }

 .small      { font-size: 90%;     }
 .white      { color:     #FFFFFF; }


 ul.toc {
   list-style:                  disc;
   list-style:                  none;
 }


 a:link img, a:visited img { border-style: none; }
 a img                     { color: white; }

 a:link, a:active, a:visited {
   color:                       #09550B;
   text-decoration:             none;
 }

 a:hover, a:focus {
   color:                       #FF9900;
   text-decoration:             underline;
 }




/*
 * x-----------------------------------------------------------------x
 * |                    Doxygen Specific Classes                     |
 * x-----------------------------------------------------------------x
 */


/* -------------------------------------------------------------------
 * Header & Footer Classes (customized top page navigation bar).
 */

 table.header {
   width:                       100%;
   /*background-color:            #EEEEEE;*/
   background-color:            #CCE6CA;
 }

 h1.header {
   font-family:                 times, verdana, sans-serif;
 }

 td.header {
   /*width:                       14%;*/
   text-align:                  center;
   font-weight:                 bold;
   font-family:                 verdana, sans-serif;
 }

 table.footer {
   width:                       100%;
 }

 td.leftFoot1, td.leftFoot2 {
   text-align:                  left;
 }

 td.rightFoot1, td.rightFoot2 {
   text-align:                  right;
 }

 td.leftFoot2 {
   font-family:                 time;
   font-weight:                 bold;
 }

 td.rightFoot2 {
   font-weight:                 bold;
 }

 div.ah {
   font-family:                 time;
   font-size:                   250%;
 }


/* -------------------------------------------------------------------
 * Quick Index Class (top page navigation bar).
 */

 div.qindex, div.nav {
   width:                       100%;
   /*background-color:            #DADAEF;*/
   /*background-color:            #eeeeff;*/
   /*background-color:            #EEEEEE;*/
   background-color:            #CCE6CA;
   border:                      1px solid #003300;
   text-align:                  center;
   margin:                      2px;
   padding:                     2px;
   line-height:                 140%;
 }

 a.qindex, a.qindex:visited, a.qindex:hover, a.qindexHL, a.el, a.elRef {
   text-decoration:             none;
   font-weight:                 bold;
 }

 a.qindex, a.qindex:visited {
   color:                       #09550B;
 }

 a.qindex:hover {
   background-color:            #ddddff;
 }

 a.qindexHL, a.qindexHL:hover, a.qindexHL:visited {
   background-color:            #0c780c;
   color:                       #ffffff;
   border:                      1px double #9295C2;
 }

 a.code:link, a.code:visited, a.codeRef:link, a.codeRef:visited {
   text-decoration:             none;
   font-weight:                 normal;
   color:                       #0000ff;
 }

 .indexkey {
   background-color:            #eeeeff;
   border:                      1px solid #b0b0b0;
   padding:                     2px 15px;
 }

 .indexkey, .indexvalue {
   background-color:            #eeeeff;
   border:                      1px solid #b0b0b0;
   padding:                     2px 15px;
 }

 .indexkey {
   width:                       40%;
 }

 .indexvalue {
   width:                       80%;
 }


/* -------------------------------------------------------------------
 * Verbatim Source Code / Examples.
 */

 pre.fragment       { background-color: #EEEEEE; }

 span.keyword       { color: #008000 }
 span.keywordtype   { color: #604020 }
 span.keywordflow   { color: #e08000 }
 span.comment       { color: #800000 }
 span.preprocessor  { color: #806020 }
 span.stringliteral { color: #002080 }
 span.charliteral   { color: #008080 }


/* -------------------------------------------------------------------
 * Attributes Listing.
 */

 .mdTable {
   /*border:                      1px solid #868686;*/
   /*background-color:            #DADAEF;*/
   /*background-color:            #F4F4FB;*/
   border:                      1px none  #868686;
   /*background-color:            #B8E6B8;*/
   background-color:            #CCE6CA;
   margin-top:                  25px;
 }

 .mdRow {
   padding:                     5px 10px;
 }

 /* This Mozilla/Firefox bug has been corrected from v1.5.
  * .mdname1 {
  *   padding:                     3px 0px 0px 0px;
  * }
 */

 .mdescLeft, .mdescRight {
   padding:                     0px 8px 4px 8px;
   font-size:                   12px;
   font-style:                  italic;
   /*background-color:            #FAFAFA;*/
   border-top:                  1px none #E0E0E0;
   border-right:                1px none #E0E0E0;
   border-bottom:               1px none #E0E0E0;
   border-left:                 1px none #E0E0E0;
   margin:                      0px;
 }

 .memItemLeft, .memItemRight, .memTemplItemLeft {
   padding:                     1px 0px 0px 8px;
   margin:                      4px;
   border-top-width:            1px;
   border-right-width:          1px;
   border-bottom-width:         1px;
   border-left-width:           1px;
   border-top-color:            #0c0c0c;
   border-right-color:          #0c0c0c;
   border-bottom-color:         #0c0c0c;
   border-left-color:           #0c0c0c;
   border-top-style:            solid;
   border-right-style:          none;
   border-bottom-style:         none;
   border-left-style:           none;
   /*background-color:            #DADAEF;*/
   /*background-color:            #eeeeff;*/
   /*background-color:            #EEEEEE;*/
   background-color:            #CCE6CA;
 }

 .memItemLeft       { font-size: 12px; }
 .memItemRight      { font-size: 13px; }
 .memTemplItemLeft  { font-size: 12px; }
 .memTemplItemRight { font-size: 13px; }

 .memTemplParams {
   color:                       #606060;
   background-color:            #DADAEF;
   font-size:                   12px;
 }

