
create repository coriolis.git
end repository

match /io/trunk/
  repository coriolis.git
  branch master
  prefix vlsisapd/
end match

match /goodies/trunk/
  repository coriolis.git
  branch master
  prefix bootstrap/
end match

match /vlsisapd/trunk/
  repository coriolis.git
  branch master
  prefix vlsisapd/
end match

match /([a-z0-9]+)/trunk/
  repository coriolis.git
  branch master
  prefix \1/
end match

match .*/
end match
